/* Стили для заголовка */
#header {
  background-color: #f2f2f2;
  padding: 10px;
}

#header .logo {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

/* Стили для подзаголовка */
#subheader {
  background-color: #e0e0e0;
  padding: 10px;
  color: black; /* Set text color to black */
}

#subheader .cart {
  font-size: 16px;
}

/* Стили для контента */
#content {
  padding: 20px;
}

/* Стили для изображения */
.resized-image {
  max-width: 200px; /* Измените нужную ширину */
  max-height: 200px; /* Измените нужную высоту */
}

img {
    width: 400px;
    height: 400px;
}
