/* Стили для заголовка */
#header {
  background-color: #f2f2f2;
  padding: 10px;
}

#header .logo {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

/* Стили для подзаголовка */
#subheader {
  background-color: #e0e0e0;
  padding: 10px;
  color: black;
  display: inline-flex;
  width: 97.96%;
}

#subheader .cart {
  font-size: 16px;
  float: left;
}

/* Стили для контента */
#content {
  padding: 20px;
}

.resized-image {
  max-width: 500px;
  max-height: 500px;
}

img {
    width: 400px;
    height: 400px;
}

.auth {
    margin-left: 0;
    margin-right: auto;
}
