.product-columns {
    column-count: 2;
    column-gap: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    color: black;
}

.item img {
    width: 400px;
    height: 400px;
}
